/*GLOBAL*/
html, body {
	height: 100%;
}
.container {
	height: 100%;
	width: 100%;
	margin: 0;
	max-width: none;
}
h1,h2,h3,h4,h5,h6,p,a {
	font-weight: lighter;
}
h5.playerProfileStats {
	text-transform: uppercase;
	letter-spacing: 0.3em;
	color: white;
}
span.score-title {
	color: white;
	margin-bottom: 7px;
}
/*Logo styling*/
.brand-logo {
	margin: 0 20px;
	text-transform: uppercase;
	letter-spacing: 0.1925em;
	text-shadow: gray 2px 3px;
	font-weight: lighter;
}

/*FORM INPUT
*/
select {
	display: block;
}

.input-field input[type=search] ~ .mdi-navigation-close, .mdi- {
	color: white;
	position: absolute;
    top: 0;
    right: 1rem;
    cursor: pointer;
    font-size: 2rem;
    transition: .3s color;
}
input[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
	visibility: hidden;
	left: initial;
}
input.favorites.mdi-action-favorite::before {
	visibility: visible;
	left: 0;
}
input.favorites.mdi-action-favorite-outline::before {
	visibility: visible;
}
a.mdi-navigation-close.close-add-player,
a.mdi-navigation-close.close-create-team {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 2rem;
}

div.input-field {
	margin: 0 15px;
}
/*CARD-PANELS*/

.card-panel {
	margin: 20px;
}
li.playerName a.edit.mdi-image-edit, li.playerName a.remove.mdi-action-delete, li.teamName a.icons, li.gameName a {
	display: none;
}
li.playerName, li.teamName {
	display: inline-block;
	width: 200px;
	height: 200px;
	border: 2px solid black;
}

li.gameName a.score {
	display: inline-block;
}

li.playerName:hover a.edit.mdi-image-edit {
		display: inline-block;
	}
li.playerName:hover a.remove.mdi-action-delete {
		display: inline-block;
}

li.teamName:hover a {
	display: inline-block;
}
li.gameName:hover span {
	display: inline-block;
}
/* Players */

img.playerProfileAvatar {
	width: 250px;
float: right;
}

/*SCORES*/

div.display-scores {
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	margin: 10px;
	font-weight: lighter;
	letter-spacing: 0.15em;
}

/*player Detail page*/
div.profile-header {
	text-transform: uppercase;
	letter-spacing: 0.3em;
	color: white;
}
span.score-titles {
	font-weight: bold;

}
.row .col.6 {
	width: inherit;
}
.row .col.s12 {
	width: 70%;
}

input#playerBirthdate.datepicker {
	background-color: transparent;
	border: none;
	color: white;
}

