/*GLOBAL*/
.container {
	width: 100%;
	margin: 0;
	max-width: none;
}
/*Logo styling*/
.brand-logo {
	margin: 0 20px;
	text-transform: uppercase;
	letter-spacing: 0.1925em;
	text-shadow: 0 0 blur #000;
	font-weight: lighter;
}

/*FORM INPUT
*/
select {
	display: block;
}

.input-field input[type=search] ~ .mdi-navigation-close, .mdi- {
	color: white;
	position: absolute;
    top: 0;
    right: 1rem;
    cursor: pointer;
    font-size: 2rem;
    transition: .3s color;
}

a.mdi-navigation-close.close-add-player,
a.mdi-navigation-close.close-create-team {
	position: absolute;
	top: 0;
	right: 10px;
}

/*CARD-PANELS*/

.card-panel {
	margin: 20px;
}

a.edit.mdi-image-edit,
a.remove.mdi-action-delete {
	visibility: none;
}
li.playerName:hover {
	display: block;
}
/* Players */

