/*GLOBAL*/
html, body {
	height: 100%;
}
.container {
	height: 100%;
	width: 100%;
	margin: 0;
	max-width: none;
}
/*Logo styling*/
.brand-logo {
	margin: 0 20px;
	text-transform: uppercase;
	letter-spacing: 0.1925em;
	text-shadow: gray 2px 3px;
	font-weight: lighter;
}

/*FORM INPUT
*/
select {
	display: block;
}

.input-field input[type=search] ~ .mdi-navigation-close, .mdi- {
	color: white;
	position: absolute;
    top: 0;
    right: 1rem;
    cursor: pointer;
    font-size: 2rem;
    transition: .3s color;
}
input[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
	visibility: hidden;
	left: initial;
}
input.favorites.mdi-action-favorite::before {
	visibility: visible;
	left: 0;
	font-size: 2rem;
}
input.favorites.mdi-action-favorite-outline::before {
	visibility: visible;
}
a.mdi-navigation-close.close-add-player,
a.mdi-navigation-close.close-create-team {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 2rem;
}

div.input-field {
	margin: 0 15px;
}
/*CARD-PANELS*/

.card-panel {
	margin: 20px;
}
li.playerName a.edit.mdi-image-edit, li.playerName a.remove.mdi-action-delete, li.teamName a, li.gameName a {
	display: none;
}
li.gameName a.score {
	display: inline-block;
}

li.playerName:hover a.edit.mdi-image-edit {
		display: inline-block;
	}
li.playerName:hover a.remove.mdi-action-delete {
		display: inline-block;
}

li.teamName:hover a {
	display: inline-block;
}
li.gameName:hover span {
	display: inline-block;
}
/* Players */


