<template name="game">
	<li>
		{{#if completed}}

			{{#if isEditingGame}}

				{{> formEdit}}

				{{else}}
				
				{{teams.[0].name}}
					vs
				{{teams.[1].name}}

			{{/if}}
			
			<a href="#" class="mdi-action-delete"></a>

		{{else}}

			{{teams.[0].name}}
			(<a href="#" class="score" data-inc="-1" data-index="0">-</a>)
			{{teams.[0].score}}
			(<a href="#" class="score" data-inc="1" data-index="0">+</a>)
			vs
			{{teams.[1].name}}
			(<a href="#" class="score" data-inc="-1" data-index="1">-</a>)
			{{teams.[1].score}}
			(<a href="#" class="score" data-inc="1" data-index="1">+</a>)

			<a href="#" class="mdi-action-done mdi-game-completed"></a>
			<a href="#" class="mdi-action-delete"></a>

		{{/if}}
	</li>
</template>