<template name="players">

		<h3>
	<i class="mdi-social-person-add"> Players</i>
	</h3>

	<ul>
		{{#each players}}
			 {{#if isEditingPlayer}}

    			<form class="form-edit"> 
			        <input name="name" type="text" value="{{name}}">
			        <a href="#" class="mdi-navigation-close"><i class="mdi-navigation-close"></i></a>
			    </form>

			 {{/if}}

			
				<li class="playerName"><a href="{{pathFor 'playerDetailPage'}}">{{name}}</a>
			
			
			<span>
				<a href="#" class="edit mdi-image-edit"></a> 
	      		<a href="#" class="remove mdi-action-delete"></a>
			</span>
				 
      		</li>

		{{/each}}
	</ul>
	

	
</template>