<template name="players">

		<h3 class="header"><i class="mdi-social-person-add"> Players</i></h3>

	<ul>
		{{#each players}}

			    {{#if isEditingPlayer}}

			    	{{> formEdit}}

			    {{else}}
				
				{{/if}}
			
				<li class="playerName card-panel z-depth-4 hoverable"><a href="{{pathFor 'playerProfile'}}">{{name}}</a>
					<li>
						<span>
						<a href="#" class="edit mdi-image-edit"></a> 
			      		<a href="#" class="remove mdi-action-delete"></a>
					</span>
					</li>
      		</li>

		{{/each}}
	</ul>
	

	
</template>